{% extends "layout.html" %}            
{% block content %}

<div class="row"><div class="s2"></div><div class="s9 center"><img src="static/logo.jpg" width=60%></div></div>
                  <div class="row">
                        <div class="col s2">
                          <!-- Grey navigation panel -->
                        </div>
                  
                        <div class="col s9">
                          <p class="caption"> SmartSearch is a reverse image search engine. Built on top of Tensorflow and ElasticSearch. It generates image captions to find similar images.</p>
                          </div>
                  </div>
                  
                    
{% endblock %}
